/Encuentro_13-14-15-16-17y18_JAVA_POO/POOEJ01/build/
/Encuentro_13-14-15-16-17y18_JAVA_POO/Programa de sueldos/build/
/Encuentro_13-14-15-16-17y18_JAVA_POO/Programa de sueldos/nbproject/private/
/Encuentro_13-14-15-16-17y18_JAVA_POO/Guia7/nbproject/private/
/Encuentro_13-14-15-16-17y18_JAVA_POO/Guia7/build/